<div id="home">
    <!--Landing Page-->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">

            </div>
        </div>
    </div>

    <div class="caption text-center">
        <h1 class="page-headers">Welcome to</h1>
        <h3 class="page-headers">Headline Chat</h3>
    </div>
    <div class="card">
        <div class="card-header">
            The Headlines
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {{#each hbsObj.article}}
                <li class="list-group-item">
                    <h5 class="title" id="{{_id}}" data-id="{{_id}}">{{title}}</h5>
                    <a href="{{link}}">{{link}}</a>
                    <div>
                        <ul id="notes{{_id}}">
                        </ul>
                    </div>
                    <div class="input-group mb-3" id="notesInput{{_id}}"></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

</div>







<!--Javascript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="java/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>